@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", serif;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 375px;
}

img {
  width: 100%;
}

article {
  padding: 40px 32px;
}

h1 {
  font-size: 36px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
  margin-bottom: 1.5rem;
  line-height: 1;
}

p {
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
  margin-bottom: 32px;
  line-height: 1.5;
}
ul {
  padding: 0px 16px 0px 24px;
}

li {
  margin-bottom: 8px;
}

li::marker {
  font-size: 0.6em;
}

h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  margin: 24px 0;
}

h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

h3,
b {
  font-weight: 600;
}

.prep-time-content {
  background-color: hsl(0, 0%, 96%);
  color: hsl(332, 51%, 32%);
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 32px;
}

hr {
  background-color: hsl(30, 18%, 87%);
  border: none;
  height: 0.5px;
}

.ingredients-list {
  color: hsl(332, 51%, 32%);
  margin-bottom: 24px;
}

.instructions-list {
  margin-left: 1rem;
  color: hsl(332, 51%, 32%);
  margin-bottom: 2rem;
}

.instructions-list li::marker {
  font-size: 14px;
}

.nutrition-table {
  border-collapse: collapse;
  width: 100%;
  color: hsl(332, 51%, 32%);
}

td {
  padding: 12px;
  border-bottom: 0.8px solid black;
  border-bottom-width: 0.8px;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
    padding: 40px;
  }
  main {
    width: 616px;
    padding: 40px;
    border-radius: 24px;
  }

  img {
    border-radius: 14px;
  }

  p {
    font-size: 16px;
  }

  article {
    margin-top: 32px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
    padding: 40px;
  }

  main {
    width: 736px;
    padding: 40px;
    border-radius: 24px;
  }

  img {
    border-radius: 14px;
  }

  p {
    font-size: 16px;
  }

  article {
    margin-top: 32px;
    padding: 0;
  }
}
